
$couleurtexte : rgb(34, 34, 34);

$couleurombre : rgb(163, 163, 163);

$couleurnav : rgba(254, 244, 209, 0.808);

$couleur1 : rgba(250, 234, 177, 0.671);

$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);