body {
  color: rgb(34, 34, 34);
  font-family: "Montserrat";
  margin: 0;
}

nav {
  background-color: rgba(255, 251, 234, 0.808);
  height: 110px;
  font-family: "Quicksand";
  position: fixed;
  width: 100%;
  z-index: 99;
}

h1 {
  font-family: "Itim";
  font-size: 40px;
  text-align: center;
}

nav h2 {
  font-family: "Quicksand";
  font-size: 25px;
  text-align: center;
}

#menu-desktop {
  display: flex;
  justify-content: space-around;
  height: 110px;
  align-items: center;
}

#nav ul {
  display: flex;
}
#nav ul li {
  list-style-type: none;
  margin: 0 10px;
}
#nav ul li a {
  text-decoration: none;
  color: black;
}

#menuToggle {
  display: none;
}

header h2 {
  font-family: "Quicksand";
  font-size: 3rem;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.475), rgba(255, 255, 255, 0.589)), url(../images/header1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  font-family: "Quicksand";
  padding: 15px;
  border-bottom: 1px solid rgb(34, 34, 34);
}

#encart-presentation {
  background-color: rgba(255, 245, 208, 0.482);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 20px rgb(207, 207, 207);
  margin: 100px 0;
}
#encart-presentation #presentation-texte {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#parcours {
  margin: 40px;
}

#timeline-bloc {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.example-header {
  background: #3D4351;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #FFF;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #FF6B6B;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

#realisations {
  background-color: rgba(255, 245, 208, 0.482);
  padding: 10px;
  margin: 100px 0;
}

.item-realisations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
  text-shadow: 0 0 1px rgb(34, 34, 34);
  padding: 20px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
  filter: saturate(25%) brightness(50%);
}
.item-realisations p {
  text-align: center;
  font-size: 14px;
}
.item-realisations p i {
  font-size: 25px;
  margin: 10px;
}

.item-realisations:hover {
  transform: scale(1.1);
  filter: saturate(100%) brightness(100%);
}

#competences {
  background-color: rgba(255, 245, 208, 0.482);
  padding: 20px;
  margin: 100px 0;
  margin: 60px 0;
}
#competences h3 {
  border: none;
}

#bloc-competences {
  padding-left: 30px;
  border-left: 1px solid rgb(34, 34, 34);
}

#bloc-technologies {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}
#bloc-technologies i {
  font-size: 50px;
  transition: all 1s;
}
#bloc-technologies i:hover {
  color: rgb(152, 152, 152);
}

.techno-item {
  text-align: center;
  margin: 20px;
  width: 100px;
}

#contact {
  margin: 100px 0;
}
#contact h3 {
  border: none;
}

form {
  background-color: rgba(255, 245, 208, 0.482);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgb(207, 207, 207);
}

input {
  border: none;
  border-bottom: 1px solid rgb(34, 34, 34);
  border-radius: 50px;
  margin: 20px;
  width: 90%;
  padding: 5px;
}

input::-moz-placeholder {
  font-family: "Montserrat";
  font-size: 12px;
}

input::placeholder {
  font-family: "Montserrat";
  font-size: 12px;
}

input:focus {
  border: 2px solid rgb(193, 193, 193);
  outline: none;
}

textarea {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px;
}

textarea:focus {
  border: 2px solid rgb(193, 193, 193);
  outline: none;
}

textarea::-moz-placeholder {
  font-family: "Montserrat";
  font-size: 12px;
}

textarea::placeholder {
  font-family: "Montserrat";
  font-size: 12px;
}

#body-form {
  height: 350px;
  margin-top: 30px;
}

footer {
  background-color: rgb(34, 34, 34);
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer a {
  color: white;
  transition: all 1s;
}
footer a i {
  font-size: 30px;
  margin: 0 15px;
}
footer a:hover {
  color: rgb(152, 152, 152);
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#copyrights p {
  text-align: center;
  font-size: 11px;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(34, 34, 34);
  height: 60px;
  color: white;
}
#header a {
  color: white;
  text-decoration: none;
}

#conteneur {
  display: flex;
  width: 100%;
}

#aside {
  width: 20vw;
  height: 100%;
  background-color: rgb(34, 34, 34);
  color: white;
}
#aside a {
  color: white;
}/*# sourceMappingURL=style.css.map */